/* for the san serif font */
html {
    font-family: Arial, Helvetica, sans-serif;   
}

/* vertical line below the logo */
hr {
    height: 2px;
    background-color: black;
}

/*nav = PRODUCTS and CART, .page_title = "Our hand-made cinnamon rolls" */
nav, .page_title {
    text-align: center;
}

/* arranging the product names and price */
.product_titles, .price {
    font-size: 14px;
    color: black;
    text-decoration: none;
    margin-bottom: 0%;
    margin-top: 3%;
}

/* font size for the page titles */
.page_title {
    font-size: 17px;
}

/* to apply yellow background to PRODUCTS */
#products {
    background-color:  yellow;
    display: inline-flex; /* got this from https://stackoverflow.com/questions/14310154/how-do-i-set-a-background-color-for-the-width-of-text-not-the-width-of-the-enti */
}
    

/* got the a:link and a:visited code from: https://www.w3schools.com/html/html_links_colors.asp */
.product:link {
    color: black;
    background-color: transparent;
    text-decoration: underline;
    display: inline-block;
  }

/* to make sure even when it's clicked, the style doesn't change */
a:visited {
    color: black;
    background-color: transparent;
    text-decoration:underline;
}

/* the nav link style */
a.menu:link {
    font-size: 13px;
    text-decoration: none;
    color: black;
}

/* the list of products style */
.list {
    margin: auto;
    width: 160px;
    height: 200px;
}

/* price text style */
.price {
    margin-top: 0%;
    margin-bottom: 0%;
    width: 154px;
    position:relative;
    bottom: 20px;   
}

/* setting the dimension of product image and title area */
a.product {
    width: 160px;
    height: 200px;
    position: relative;
}

/* product image style */
.product img {
    text-align: center;
    margin: auto;
    display: block;
    justify-content: center;
    width: 154px;
    border: 2px solid black;
}

/* link style when hovering */
.product:hover {
    background-color: yellow;
    display:in-line block;
}

/* doulbe-chocolate cinnamon roll has different height, so made a separate one */
#chocolate_price {
    position: relative;
    bottom: 12px;
}

#chocolate_list {
    margin: auto;
    width: 160px;
    height: 220px;
}

a#chocolate_product {
    width: 160px;
    height: 210px;
    position: relative;
}